@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
    margin: 0;
    background: LavenderBlush;
    font-family: 'Poppins', sans-serif;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
section {
    max-width: 350px;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

h1,
h2 {
    color: #B0C4DE;
}

h2 {
    font-size: 18px;
}

.parrafo-principal {
    font-size: 1rem;
    margin: 0;
}

.parrafo-secundario {
    font-size: 1rem;
    margin: 0;
    margin-top: 2rem;
}

.noches {
    font-size: xx-large;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    color: #B0E0E6;
    width: 20ch;
    animation: escribiendo 2s steps(20);
    overflow: hidden;
    align-items: center;
}

.cursor {
    animation: 0.6s parpadeo-cursor infinite;
}
@keyframes escribiendo {
    from {
        width: 0;
    }
}
@keyframes parpadeo-cursor {
    50% {
        opacity: 0;
    }
}
#infoBox {
    display: none;
}

button {
    border-radius: 20px;
    padding: 8px16px;
    margin: 8px024px;
    background: #B0C4DE;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.horarios:hover {
    color: black;
}


li {
    background: PapayaWhip;
}

.hoursBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
    margin-bottom:  12px;
    list-style: none;
    padding: 8px;
}
.hoursBox li {
    background: PapayaWhip;
}


.visible {
    display: block !important;
}